<form #myFormName="ngForm" (ngSubmit)="getUser(myFormName)" >  
    <br>    
      <h2>Vehicle</h2>

      <label for="vehicleId">Vehicle</label><br>
   <input type="number"  placeholder="number" class="form-control" name="vehicleId" ngModel>
   <br>
   <label for="vehicleNm">vehicleName</label><br>
   <input type="text"  placeholder="username" class="form-control" name="vehicleNm" ngModel>
   <br>

   <label for="Feedback">Feedback</label><br>
   <input type="number"  placeholder="password" class="form-control" name="number" ngModel>
   <br>

   
  <input  type="submit" value="LogIn" class="btn btn-danger"  >
  <br>
  
     <a href="signUp">New Vehicle? Register Here</a>
     <br>
  
  </form>

